<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Liste des Employees</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{template :: navbar}"></div>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">Liste des Employees</div>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nom Employees</th>
                    <th>Salaire</th>
                    <th>Date</th>
                    <th>Grade</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Actions</th>
                </tr>
                <tr th:each="e:${employees.content}">
                    <td th:text="${e.idEmp}"></td>
                    <td th:text="${e.nomEmp}"></td>
                    <td th:text="${e.salaire}"></td>
                    <td th:text="${e.dateNaiss}"></td>
                    <td th:if="${!#strings.isEmpty(e.grade)}" th:text="${e.grade.nomGrade}"></td>
                    <td th:if="${#strings.isEmpty(e.grade)}" th:text="'Pas de Grade'"></td>
                    <td>
                        <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger"
                           onclick="return confirm('Etes-vous sûr ?')"
                           th:href="@{supprimerEmployee(id=${e.idEmp}, page=${currentPage}, size=${size})}">
                            Supprimer
                        </a>


                    <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success"
                           th:href="@{modifierEmployee(id=${e.idEmp}, page=${currentPage}, size=${size})}">
                        Editer
                    </a></td>
                </tr>
            </table>

            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                       th:href="@{ListeEmployee(page=${(status.index)}, size=${size})}"
                       th:text="${status.index}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>